*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    list-style: none;
}

/* stylw of mobile screen  */
@media (max-width: 600px){

    .main-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height:100vh;
    }

    .header-container{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        gap: 10px;
        width: 100vw;
        height: 30vh;
        background-color: rgb(130, 107, 107);
        color: white;

    }

    .you{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .you img{
        width: 100px;
        height: 100px;
        border-radius: 100%;

    }

    .ul-header-bar{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-self: flex-end;
        gap: 10px;
        width: 100%;
        height:30px;
        padding-right: 10px;
        margin-bottom: -10%;
        border-radius: 20px;
        background-color: rgb(90, 86, 86);
        list-style: none;
    }

    .li-ul-header{
        display: flex;
        width: 50px;
        height: 100%;
        background-color: rgb(103, 98, 98);
        justify-content: center;
        align-items: center;
        font-size: 100%; 
    }

    /* section friend */
    .friend-list{
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 70vh;
        background-color: rgb(46, 43, 43);
        padding-top: 20px;
    }

    .ul-friends-list{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 95%;
    }

    .li-friend-item{
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: 40px;
        background-color: rgb(85, 82, 82);
        color: white;
        border-radius: 20px;
    }
    
    .img-contato{
        width: 30px;
        height: 30px;
        border-radius: 100%;
    }

    .contato-name{
        color: white;
        font-size: 20px;
    }

    /* btn para sair de todso os popup */
    .exit-pop-up{
        position: absolute;
        color: white;
        font-size: 20px;
        font-weight: bold;
        border: 3px solid white;
        width: 30px;
        height: 30px;
        text-align: center;
    }

    /* style od popups */
    .pop-up-create-new-contato{
        position: absolute;
        display: none;
        width: 100%;
        height:100%;
        background-color: red;
    }

    .form-create-contato{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        height: 50%;
        background-color: rgb(122, 89, 89);
        color: white;
    }

    .camp-form-contato-img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 35%;
        background-color: blue;
    }

    .img-create-contato{
        width: 100px;
        height: 100px;
        border-radius: 100%;

    }

    .camp-form-contato{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40px;
        border-radius: 20px;
        background-color: rgb(73, 75, 73);
        color: white;

    }

    .camp-form-contato Input{
        border: none;
        outline: none;
        background-color: transparent;
        color: white;

    }

    .form-container-btns{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        background-color: rgb(237, 96, 96);

    }
    .form-container-btns button{
        border: none;
        width: 100px;
        height: 30px;
        background-color: transparent;
        color: black;
        font-weight: bolder;
    }

    /* style od popups show contato */

    .pop-up-show-contato{
        position: absolute;
        display: none;
        width: 100%;
        height:100%;
        background-color: rgb(0, 0, 0);  
        color: white; 
    }

    .show-contato{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10px;
        background-color: rgb(82, 78, 78);
    }
   
    .show-contato-img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 20%;
        background-color: rgb(108, 108, 115);
    }

    .show-contato-info{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .phone-type{
        color: rgb(54, 53, 53);
        font-size: 15px;
    }
    /* style pop-up of find contacts  */
    .pop-up-find-contact{
        display: none;
        justify-content: flex-start;
        width: 100vw;
        height: 100vh;
        background-color: rgb(126, 95, 95);
        color: white;
    }
    .field-find-contact{
        display: flex;
        flex-direction: row;
        width:90%;
        height: 50%;
        background-color: gray;
        color: red;
        
    }

    .field-find-contact input{
        width: 70%;
        height: 30px;
    }
    
}

/* stylw of descktop screen */

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height:100vh;
}

.header-container{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 10px;
    width: 100vw;
    height: 40vh;
    background-color: rgb(130, 107, 107);
    color: white;
}

.you{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: white;
}

.you img{
    width: 150px;
    height: 150px;
    border-radius: 100%;

}

.ul-header-bar{ 
    display: flex ;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    width: 100%;
    height: 30px;
    background-color: transparent;
    margin: 10px;
}   

.li-ul-header{
    display: flex;
    width: 100px;
    height: 100%;
    background-color: rgb(103, 98, 98);
    justify-content: center;
    align-items: center;
    font-size: 100%; 
}
                                    
.li-ul-header:hover{
    background-color: rgb(83, 77, 77);

}
/* section friend */
.friend-list{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 70vh;
    background-color: rgb(46, 43, 43);
    padding-top: 20px;
}

.ul-friends-list{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
    padding-top: 10px;
    background-color: transparent;
}

.li-friend-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 50px;
    background-color: rgb(85, 82, 82);
    color: white;
    border-radius: 20px;
}
  
.img-contato{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.contato-name{
    color: white;
    font-size: 20px;
}

 /* btn para sair de todso os popup */
 .exit-pop-up{
    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid white;
    width: 30px;
    height: 30px;
    text-align: center;
}

/* style od popups */
.pop-up-create-new-contato{
    position: absolute;
    display: none;
    width: 100%;
    height:100%;
    background-color: red;
}

.form-create-contato{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 50%;
    background-color: rgb(122, 89, 89);
    color: white;
}

.camp-form-contato-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35%;
    background-color: blue;
}

.img-create-contato{
    width: 100px;
    height: 100px;
    border-radius: 100%;

}

.camp-form-contato{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(73, 75, 73);
    color: white;

}

.camp-form-contato Input{
    border: none;
    outline: none;
    background-color: transparent;
    color: white;

}

.form-container-btns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background-color: rgb(237, 96, 96);

}
.form-container-btns button{
    border: none;
    width: 100px;
    height: 30px;
    background-color: transparent;
    color: black;
    font-weight: bolder;
}

/* style od popups show contato */

.pop-up-show-contato{
    position: absolute;
    display: none;
    width: 100%;
    height:100%;
    background-color: rgb(0, 0, 0);  
    color: white; 
}

.show-contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    background-color: rgb(82, 78, 78);
}

.show-contato-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    background-color: rgb(108, 108, 115);
}

.show-contato-info{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.phone-type{
    color: rgb(54, 53, 53);
    font-size: 15px;
}
/* style pop-up of find contacts  */
.pop-up-find-contact{
    display: none;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    background-color: rgb(126, 95, 95);
    color: white;
}
.field-find-contact{
    display: flex;
    flex-direction: row;
    width:90%;
    height: 50%;
    background-color: gray;
    color: red;
    
}

.field-find-contact input{
    width: 70%;
    height: 30px;
}